---
layout: default
---

<div class="container">
    <section class="posts">
        <div class="post">
            {% for post in site.posts limit:20 %}
            <h3 class="title">
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </h3>
            <div class="body">
                <p>
                    {% if post.description %}
                        {{ post.description | markdownify | strip_html }}
                    {% else %}
                        {{ post.excerpt | strip_html }}
                    {% endif %}

                    <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
                        {{ post.date | date: "%b %Y" }}
                    </info>
                </p>
                <br/>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
