<header class="container navbar">
    <h1 class="logo">
        <a href="/" title="Alex Budurovici - DevOps Engineer">
            <img src="{{ '/assets/icons/128.png' | relative_url }}">
        </a>
    </h1>

    <nav class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/about">About me</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/contact">Contact</a></li>
    </nav>
</header>
