<header class="navbar">
    <h1 class="logo">
        <a href="/" title="Alex Budurovici - DevOps Specialist">
            <!-- <img src=""> -->
            Alex
        </a>
    </h1>

    <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/about">About me</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/services">Services</a></li>
        <li class="navbar-item"><a class="navbar-link" href="/projects">Projects</a></li>
    </ul>
</header>
