{% assign title = 'Cloud Systems and Software Engineer' %}
{% assign description = 'Cloud Systems and Software Engineer based in Zurich, Switzerland. Multi-cloud experienced: AWS, Google, Azure and Alibaba.' %}

{% if page.title %}
    {% assign title = page.title %}
{% endif %}

{% if page.description %}
    {% assign description = page.description %}
{% endif %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>w0rldart - {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ '/assets/site.css' | relative_url }}">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121129645-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-121129645-1');
    </script>

    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#edeff5",
                    "text": "#838391"
                },
                "button": {
                    "background": "#4b81e8"
                }
            },
            "theme": "classic",
            "position": "bottom-right"
        })
    });
    </script>
</head>
