body {
    margin      : 0 auto;

    scroll-behavior: smooth;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust    : 100%;

    font-smoothing        : subpixel-antialiased;
    -webkit-font-smoothing: subpixel-antialiased;

    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
}

a {
    text-decoration: none;
    text-rendering : optimizeLegibility;
    text-rendering : geometricPrecision;

    color: #039be5;
}

/*
 * Custom heading sizes
 */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

/*
 * A better looking default horizontal rule
 */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
