// Post page
.post {
    .title {
        border-bottom: 10px solid #eee;

        h1 {
            display: inline;
        }

        span.info {
            font-size: 12px;
        }
    }

    h2 {
        text-decoration: underline;
    }

    p {
        span.info {
            display: inline;
            color: #ddd;
            white-space: nowrap;
        }
    }
}

// Posts on index
.posts {
    .post {
        margin-bottom: 40px;
    }

    h2 {
        text-decoration: none;
    }
}
