// Post page
.post {
    .title {
        border-bottom: 1rem solid #eee;
        margin-bottom: 1rem;

        h1 {
            margin: 0;
        }
    }

    span.info {
        font-size: 12px;
        margin-bottom: 1rem;
        display: block;
    }

    h2 {
        text-decoration: underline;
    }
}

// Posts on index
.posts {
    .post {
        margin-bottom: 40px;

        h2.title {
            text-decoration: none;
            margin-bottom: 1rem;
        }

        p {
            span.info {
                display: inline;
                color: #aaa;
                white-space: nowrap;
            }
        }
    }
}
