.posts {
    .post {
        .title {

        }

        .body {
            p {
                // text-align: justify;
                
                info {
                    display: inline;
                    color: #ddd;
                    white-space: nowrap;
                }
            } 
        }
    }
}
