<!doctype html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: en }}">
{% include html-head.html %}

<body>
    {% include header.html %}

    <section class="container">
        <article class="column post">
            {% unless page.title_hidden %}
            <section class="title">
                <h1>{{ page.title }}</h1>

                <span class="info" datetime="{{ page.date | date: '%Y-%m-%d' }}">
                    {{ page.date | date: "%b %e, %Y" }}
                </span>
            </section>
            {% endunless %}

            <section class="content">
                {{ content }}
            </section>

            <section class="tags">
                <h2>Tags</h2>

                <ul>
                {% for tag in page.tags %}
                    <li>{{ tag }}</li>
                {% endfor %}
                </ul>
            </section>

            <section class="disqus">
                <br /><hr /><br />
                <div id="disqus_thread"></div>
                <script>
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://w0rldart.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>
                    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
                </noscript>
            </section>
        </article>
    </section>

    {% include footer.html %}
    {% include bottom_scripts.html %}
</body>

</html>
